<div class='container-fluid'>
  <div class='row'>
    <%= image_tag('ESPNheader.png', style: 'width: 100%')%>
  </div>

  <div class='row first_row'>
      <section class='collapsed_board'>
        <span id='collapsed_text'><u>Get your scores here</u> | "GET YOUR BEER HERE!"</span>
      </section>
  </div>
  
  <div class='row scoreboard'>
    <section class='mainscoreboard'>
      <div class='col-sm-4' style='padding-bottom: 100%;'></div>
        <div id='full_league'>
          <%@scoreboard.each_with_index do |game, i|%>
            <%if i % 4 == 0%>
              <div class='col-sm-2 scores_column'>
            <%end%>
                <div class='row' style='display: inline;'>
                  <div class='score' data-id=<%=game['id']%>>
                    <p style='margin-bottom: 2px;'>
                    <%=game['competitions'][0]['competitors'][0]['team']['abbreviation']%> <%=game['competitions'][0]['competitors'][0]['score']%>
                    </p>
                    <p><%=game['competitions'][0]['competitors'][1]['team']['abbreviation']%> <%=game['competitions'][0]['competitors'][1]['score']%></p>
                  </div>
                  <div class='game_status'>
                    <%if game['competitions'][0]['status']['id'] == 1%>
                      <p>N</p>
                    <%elsif game['competitions'][0]['status']['id'] == 2%>
                      <p><%= game['competitions'][0]['period']%>in</p>
                    <%elsif game['competitions'][0]['status']['id'] == 3%>
                      <p>F</p>
                    <%else%>
                      <p>?</p>
                    <%end%>
                  </div>
                </div>
            <%if [3,7,11,15].include?(i)%>
              </div>
            <%end%>
          <%end%>
        </div>
      
    <div id='game_detail'>
      <div class='spacer'></div>
      <div class='col-sm-offset-1 col-sm-2' id='home_column'>
        <p>HOME</p>
        <div class='single_boxscore' id='home_hover'>
          <span class='single_score home_team'>?</span>
        </div>
        <p id='home_team_name'>HOME TEAM</p>

        <div id='home_popup'>
          <div class='popup' id='popup_left'>
            <img id='home_pitcher' src='#'>
            <p class='home_popup_text' id='popup_home_team_title'><span id='popup_home_team_location'>Washington</span><br><span id='popup_home_team_name'>Nationals</span></p>
            <p class='home_popup_text' id='home_team_record'>13-15</p>
            <p class='home_popup_text' id='home_pitcher_name'>Max Schedulfried(w)</p>
          </div>
        </div>
      </div>

      <div class='col-sm-1'>
        <p id='single_game_status'>?</p>
      </div>
      <div class='col-sm-2'>
        <p>AWAY</p>
        <div class='single_boxscore' id='away_hover'>
          <span class='single_score away_team'>?</span>
        </div>
        <p id='away_team_name'>AWAY TEAM</p>

        <div id='away_popup'>
          <div class='popup' id='popup_right'>
            <img id='away_pitcher' src='#'>
            <p class='away_popup_text' id='popup_away_team_title'><span id='popup_away_team_location'>Miami</span><br><span id='popup_away_team_name'>Marlins</span></p>
            <p class='away_popup_text' id='away_team_record'>14-13</p>
            <p class='away_popup_text' id='away_pitcher_name'>Tom Koeler(l)</p>
          </div>
        </div>
      </div>
      <div class='col-sm-2'>
        <div id='can'><img src='https://s14.postimg.org/ro6by61b5/CAN.png'></div>
      </div>
    </div>
    <div id='click_out'></div>
    </section>
  </div>

  <div class='row'>
    <%= image_tag('ESPNbottom.png', style: 'width: 100%')%>
  </div>

</div>

